/*
 * Copyright (c) 2019 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 { 
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	sda-pin = <26>;
	scl-pin = <27>;
};

&i2c1 { 
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	sda-pin = <29>;
	scl-pin = <30>;
};


&uart0 {
	current-speed = <115200>;
//	tx-pin = <24>;
//	rx-pin = <23>;
	tx-pin = <20>;
	rx-pin = <19>;
};


/*&leds {
	//compatible = "gpio-leds";
	IOVDD: vdds_0 {
		gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		label = "IOVDD";
	};
	AVDD: vdds_1 {
		gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		label = "AVDD";
	};
	VM: vdds_2 {
		gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		label = "VM";
	};
};*/
